doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/material-components-web.css')
    script(src='//localhost:3001/assets/vendor.js')
  body
    block content
    script(src='//localhost:3000/javascripts/material-components-web.js')
    script(src='//localhost:3001/assets/bundle.js')
    <script>window.mdc.autoInit()</script>
