doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//localhost:3001/assets/vendor.js')
  body
    block content
    script(src='//localhost:3001/assets/bundle.js')
